body {
  color: rgb(236, 138, 184);
  /* background-color: #270a04; */
  background-color: #1f1a19;
}
body a {
  color: rgb(238, 26, 192);
}

.cardsList {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  
}

.card {
  border-radius: 10px;
  max-width: 300px;
  padding: 16px;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.75);
  list-style-type: none;
}

.img {
  width: 200px;
}

.imgCard {
  width: 400px;
}

.ulk {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}

.lishka {
  border-radius: 10px;
  max-width: 200px;
  padding: 16px;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.75);
}

.ingredients {

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}